<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
    <command
    defaultHandler="org.moflon.core.ui.packageregistration.RegisterMetamodelHandler"
    id="org.moflon.ide.ui.commands.emf.RegisterMetamodelCommand"
    name="Register the selected metamodel in the global EMF registry"/>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.moflon.ide.ui.moflon?after=moflonGroupResources">
      <command
      commandId="org.moflon.ide.ui.commands.emf.RegisterMetamodelCommand"
      label="Register metamodel globally"
      style="push"
      tooltip="Register the selected metamodel in the global EMF registry"
      icon="icons/register.png">
      <visibleWhen checkEnabled="false">
        <iterate ifEmpty="false" operator="and">
          <reference definitionId="org.moflon.ide.ui.definitions.isEcoreFile"/>
          <or>
            <reference definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer"/>
            <reference definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer"/>
          </or>
        </iterate>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
</plugin>
