<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.moflon.org/emf/injection/InjectionLanguage"
			class = "org.moflon.emf.injection.injectionLanguage.InjectionLanguagePackage"
			genModel = "model/generated/InjectionLanguage.genmodel" />
	</extension>
</plugin>
