<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester class="org.moflon.core.ui.propertytester.PerspectivePropertyTester" id="org.moflon.core.ui.propertytester.PerspectivePropertyTester" namespace="org.moflon.core.ui.property" properties="perspectiveId" type="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective"/>
  </extension>
  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="org.moflon.core.ui.definitions.isMoflonPerspective">
      <with variable="org.eclipse.e4.ui.model.application.ui.advanced.MPerspective">
        <test forcePluginActivation="true" property="org.moflon.core.ui.property.perspectiveId" value="org.moflon.ide.ui.MoflonPerspective"/>
      </with>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.hasJavaNature">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isJavaFile">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.extension" value="java"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isInGenFolder">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.path" value="*/gen/*"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isXmiFile">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.name" value="xmi"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isEcoreFile">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.extension" value="ecore"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isEapFile">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.extension" value="eap"/>
      </adapt>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isCompilationUnitEditor">
      <with variable="activeEditorId">
        <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
      </with>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.hasAnyMoflonNature">
      <or>
        <reference definitionId="org.moflon.ide.ui.definitions.hasJavaNature"/>
      </or>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isProject">
      <adapt type="org.eclipse.core.resources.IProject"/>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isWorkingSet">
      <instanceof value="org.eclipse.ui.IWorkingSet"/>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.hasJavaEditor">
      <and>
        <with variable="activeEditorInput">
          <reference definitionId="org.moflon.ide.ui.definitions.hasAnyMoflonNature"/>
        </with>
        <reference definitionId="org.moflon.ide.ui.definitions.isCompilationUnitEditor"/>
      </and>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isInProjectExplorer">
      <with variable="activePartId">
        <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
      </with>
    </definition>
    <definition id="org.moflon.ide.ui.definitions.isInPackageExplorer">
      <with variable="activePartId">
        <equals value="org.eclipse.jdt.ui.PackageExplorer"/>
      </with>
    </definition>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.moflon.ide.ui.category" name="eMoflon"/>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective class="org.moflon.core.ui.MoflonPerspective" fixed="false" icon="resources/icons/moflonSmall.png" id="org.moflon.ide.ui.MoflonPerspective" name="eMoflon"/>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.moflon.ide.ui.MoflonPerspective"/>
  </extension>
  <extension id="org.moflon.ide.marker.EMoflonProblem" name="eMoflon Problem" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <category description="eMoflon Commands Main Category" id="org.moflon.core.ui.commands.MainCategory" name="eMoflon Commands"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.core.ui.commands.build.BuildCommand" name="%buildLabel"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.core.ui.commands.build.BuildOnlyDirtyProjectsCommand" name="%buildDirtyProjectsLabel"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.core.ui.commands.admin.EditLoggingConfigFile" name="Edit logging configuration"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.core.ui.commands.admin.ConfigureLogging" name="Configure logging"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.core.ui.commands.admin.ReconfigureLogging" name="Reconfigure logging"/>
    <command categoryId="org.moflon.core.ui.commands.MainCategory" id="org.moflon.ide.ui.moflon" name="eMoflon popup"></command>
    <command defaultHandler="org.moflon.core.ui.handler.TouchResourceHandler" id="org.moflon.core.ui.commands.TouchResourceCommand" name="Touch Resource"/>
    <category
          description="Command contributions for the PlantUML view"
          id="org.moflon.core.ui.commands.PlantUMLCategory"
          name="eMoflon Commands PlantUML Category">
    </category>
    <command
          categoryId="org.moflon.core.ui.commands.PlantUMLCategory"
          description="Toggle for showing or hiding additional model details, e.g. attributes and operations in a class diagrams, in the PlantUML view. "
          id="org.moflon.core.ui.commands.visualisation.ShowModelDetailsCommand"
          name="Show model details">
       <state id="org.eclipse.ui.commands.toggleState">
         <class class="org.eclipse.ui.handlers.RegistryToggleState">
           <parameter name="default" value="false"></parameter>
           <parameter name="persisted" value="false"></parameter>
         </class>
       </state>
    </command>
    <command
          categoryId="org.moflon.core.ui.commands.PlantUMLCategory"
          description="Toggle for abbreviating labels in the PlantUML view, which exceed a certain length."
          id="org.moflon.core.ui.commands.visualisation.AbbreviateLabelsCommand"
          name="Abbreviate labels">
       <state id="org.eclipse.ui.commands.toggleState">
         <class class="org.eclipse.ui.handlers.RegistryToggleState">
           <parameter name="default" value="false"></parameter>
           <parameter name="persisted" value="false"></parameter>
         </class>
       </state>
    </command>
    <command
          categoryId="org.moflon.core.ui.commands.PlantUMLCategory"
          description="Show 1-neighborhood for selection."
          id="org.moflon.core.ui.commands.visualisation.ShowNeighbourhoodCommand"
          name="Show 1-neighborhood">
       <state id="org.eclipse.ui.commands.toggleState">
         <class class="org.eclipse.ui.handlers.RegistryToggleState">
           <parameter name="default" value="false"></parameter>
           <parameter name="persisted" value="false"></parameter>
         </class>
       </state>
    </command>
    <command
          categoryId="org.moflon.core.ui.commands.PlantUMLCategory"
          description="Show documentation."
          id="org.moflon.core.ui.commands.visualisation.ShowDocumentationCommand"
          name="Show documentation">
       <state id="org.eclipse.ui.commands.toggleState">
         <class class="org.eclipse.ui.handlers.RegistryToggleState">
           <parameter name="default" value="false"></parameter>
           <parameter name="persisted" value="false"></parameter>
         </class>
       </state>
    </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler class="org.moflon.core.ui.handler.BuildHandler" commandId="org.moflon.core.ui.commands.build.BuildCommand">
      <enabledWhen>
        <or>
          <with variable="selection">
            <iterate operator="or">
              <reference definitionId="org.moflon.ide.ui.definitions.isProject"/>
            </iterate>
          </with>
          <with variable="activeEditorInput">
            <or>
              <reference definitionId="org.moflon.ide.ui.definitions.isProject"/>
            </or>
          </with>
          <reference definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer"/>
          <reference definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer"/>
        </or>
      </enabledWhen>
    </handler>
    <handler class="org.moflon.core.ui.handler.BuildOnlyDirtyProjectsHandler" commandId="org.moflon.core.ui.commands.build.BuildOnlyDirtyProjectsCommand">
      <enabledWhen>
        <or>
          <with variable="selection">
            <iterate operator="or">
              <reference definitionId="org.moflon.ide.ui.definitions.isProject"/>
            </iterate>
          </with>
          <with variable="activeEditorInput">
            <or>
              <reference definitionId="org.moflon.ide.ui.definitions.isProject"/>
            </or>
          </with>
          <reference definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer"/>
          <reference definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer"/>
        </or>
      </enabledWhen>
    </handler>
    <handler class="org.moflon.core.ui.handler.EditLoggingConfigurationHandler" commandId="org.moflon.core.ui.commands.admin.EditLoggingConfigFile"/>
    <handler class="org.moflon.core.ui.handler.ReconfigureLoggingHandler" commandId="org.moflon.core.ui.commands.admin.ReconfigureLogging"/>
    <handler class="org.moflon.core.ui.handler.EditLoggingConfigurationHandler" commandId="org.moflon.core.ui.commands.admin.ConfigureLogging"/>
    <handler
          class="org.moflon.core.ui.handler.visualisation.ShowModelDetailsHandler"
          commandId="org.moflon.core.ui.commands.visualisation.ShowModelDetailsCommand">
    </handler>
    <handler
          class="org.moflon.core.ui.handler.visualisation.AbbreviateLabelsHandler"
          commandId="org.moflon.core.ui.commands.visualisation.AbbreviateLabelsCommand">
    </handler>
    <handler
          class="org.moflon.core.ui.handler.visualisation.NeighbourhoodStrategyHandler"
          commandId="org.moflon.core.ui.commands.visualisation.ShowNeighbourhoodCommand">
    </handler>
    <handler
          class="org.moflon.core.ui.handler.visualisation.ShowDocumentationHandler"
          commandId="org.moflon.core.ui.commands.visualisation.ShowDocumentationCommand">
    </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="true" locationURI="popup:#TextEditorContext?after=additions">
      <menu icon="resources/icons/moflonSmall.png" id="org.moflon.ide.ui.moflon" label="eMoflon" mnemonic="n"/>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu icon="resources/icons/moflonSmall.png" id="org.moflon.ide.ui.moflon" label="eMoflon">
        <separator name="moflonGroupBuilding" visible="true"/>
        <separator name="moflonGroupAnalysis" visible="true"/>
        <separator name="moflonGroupConversions" visible="true"/>
        <separator name="moflonGroupMoca" visible="true"/>
        <separator name="moflonGroupTie" visible="true"/>
        <separator name="moflonGroupTesting" visible="true"/>
        <separator name="additions"/>
        <visibleWhen checkEnabled="false">
          <or>
            <iterate ifEmpty="false" operator="or">
              <or>
                <reference definitionId="org.moflon.ide.ui.definitions.hasJavaNature"/>
              </or>
            </iterate>
            <and>
              <with variable="activeEditorId">
                <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
              </with>
              <with variable="activeEditorInput">
                <or>
                  <reference definitionId="org.moflon.ide.ui.definitions.hasJavaNature"/>
                </or>
              </with>
            </and>
            <or>
              <reference definitionId="org.moflon.ide.ui.definitions.hasJavaNature"/>
              <reference definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer"/>
              <reference definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer"/>
            </or>
          </or>
        </visibleWhen>
        <separator name="moflonGroupNavigation"/>
        <separator name="moflonSeperator"/>
        <separator name="moflonSeperator"/>
        <separator name="moflonGroupResources"/>
      </menu>
    </menuContribution>
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <command commandId="org.moflon.ide.ui.moflon" icon="resources/icons/moflonSmall.png" label="eMoflon" mnemonic="m"/>
      <separator name="moflonGroupBuilding"/>
      <separator name="moflonGroupAnalysis"/>
      <separator name="moflonGroupConversions"/>
      <separator name="moflonGroupMoca"/>
      <separator name="moflonGroupTie"/>
      <separator name="moflonGroupTesting"/>
      <separator name="moflonGroupResources"/>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="toolbar:org.eclipse.ui.main.toolbar">
      <toolbar id="org.moflon.ide.ui.toolbar" label="eMoflon Toolbar">
        <command commandId="org.moflon.core.ui.commands.build.BuildCommand" icon="resources/icons/rebuildClasses.png" label="%buildLabel" mnemonic="B" style="push" tooltip="%buildTooltip">
          <visibleWhen checkEnabled="false">
            <reference definitionId="org.moflon.core.ui.definitions.isMoflonPerspective"/>
          </visibleWhen>
        </command>
        <command commandId="org.moflon.core.ui.commands.build.BuildOnlyDirtyProjectsCommand" icon="resources/icons/rebuildClassesDirtyOnly.png" label="%buildDirtyProjectsLabel" mnemonic="D" style="push" tooltip="%buildDirtyProjectsTooltip">
          <visibleWhen checkEnabled="false">
            <reference definitionId="org.moflon.core.ui.definitions.isMoflonPerspective"/>
          </visibleWhen>
        </command>
        <command commandId="org.moflon.core.ui.commands.admin.ConfigureLogging" icon="resources/icons/logfile.png" id="org.moflon.core.ui.commands.admin.toolbar.ConfigureLogging" label="Logging" style="pulldown" tooltip="View and configure logging configuration for eMoflon console">
          <visibleWhen checkEnabled="false">
            <reference definitionId="org.moflon.core.ui.definitions.isMoflonPerspective"/>
          </visibleWhen>
        </command>
      </toolbar>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.moflon.ide.ui.moflon?after=moflonGroupBuilding">
      <command commandId="org.moflon.core.ui.commands.build.BuildCommand" icon="resources/icons/rebuildClasses.png" label="%buildLabel" mnemonic="B" style="push" tooltip="%buildTooltip">
        <visibleWhen checkEnabled="false"/>
      </command>
      <command commandId="org.moflon.core.ui.commands.build.BuildOnlyDirtyProjectsCommand" icon="resources/icons/rebuildClassesDirtyOnly.png" label="%buildDirtyProjectsLabel" mnemonic="D" style="push" tooltip="%buildDirtyProjectsTooltip">
        <visibleWhen checkEnabled="false"/>
      </command>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.moflon.ide.ui.moflon?after=moflonGroupResources">
      <command commandId="org.moflon.core.ui.commands.TouchResourceCommand" label="Touch Selected Resource(s)" style="push" tooltip="Marks the selected resoures as modified (even if they have not changed)">
        <visibleWhen checkEnabled="false"/>
      </command>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="menu:org.moflon.core.ui.commands.admin.toolbar.ConfigureLogging">
      <command commandId="org.moflon.core.ui.commands.admin.EditLoggingConfigFile" icon="resources/icons/logfile.png" label="Edit config file" style="push" tooltip="Edit configuration file for eMoflon logging. To take effect, 'Reconfigure Logging' has to be executed."/>
      <command commandId="org.moflon.core.ui.commands.admin.ReconfigureLogging" label="Reconfigure logging" style="push" tooltip="Reconfigure logging"/>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:net.sourceforge.plantuml.eclipse.views.PlantUmlView">
       <separator
             name="moflonSeparatorPlantUMLVisualisation"
             visible="true">
       </separator>
       <command
             commandId="org.moflon.core.ui.commands.visualisation.ShowModelDetailsCommand"
             id="org.moflon.core.ui.visualisation.ShowModelDetails"
             label="Show model details"
             mnemonic="S"
             style="toggle"
             tooltip="Shows or hides additional information of model elements. ">
       </command>
       <command
             commandId="org.moflon.core.ui.commands.visualisation.AbbreviateLabelsCommand"
             id="org.moflon.core.ui.visualisation.AbbreviateLabels"
             label="Abbreviate labels"
             mnemonic="A"
             style="toggle"
             tooltip="Toggle for abbreviating labels in the PlantUML view, which exceed a certain length.">
       </command>
       <command
             commandId="org.moflon.core.ui.commands.visualisation.ShowNeighbourhoodCommand"
             id="org.moflon.core.ui.visualisation.ShowNeighbourhood"
             label="Show 1-neighborhood"
             mnemonic="1"
             style="toggle"
             tooltip="Shows or hides the 1-neighborhood for the current selection.">
       </command>
       <command
             commandId="org.moflon.core.ui.commands.visualisation.ShowDocumentationCommand"
             id="org.moflon.core.ui.visualisation.ShowDocumentation"
             label="Show documentation"
             mnemonic="1"
             style="toggle"
             tooltip="Shows or hides the documentation for the current selection and neighborhood.">
       </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="org.moflon.core.ui.commands.build.BuildCommand" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M2+M3+E B"/>
    <key commandId="org.moflon.core.ui.commands.build.BuildOnlyDirtyProjectsCommand" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M2+M3+E D"/>
    <key commandId="org.moflon.core.ui.commands.TouchResourceCommand" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M2+M3+E C"/>
  </extension>
  <extension point="org.eclipse.core.runtime.adapters">
    <factory adaptableType="org.eclipse.core.resources.IFile" class="org.moflon.core.ui.errorhandling.MultiStatusAwareErrorReporterFactory">
      <adapter type="org.moflon.core.ui.errorhandling.MultiStatusAwareErrorReporter">
         </adapter>
    </factory>
  </extension>
  <extension point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
    <diagramTextProvider priority="10" providerClass="org.moflon.core.ui.visualisation.models.EMoflonModelVisualiser">
    </diagramTextProvider>
    <diagramTextProvider priority="15" providerClass="org.moflon.core.ui.visualisation.metamodels.EMoflonMetamodelVisualiser">
    </diagramTextProvider>
  </extension>
  <!--
  Property dialog contributsion
  -->
  <extension point="org.eclipse.ui.propertyPages">
    <page class="org.moflon.core.ui.propertypage.EMoflonPropertyPage" id="org.moflon.ide.ui.errorspropertypage" name="Marker (eMoflon View)">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IMarker"></adapt>
      </enabledWhen>
    </page>
  </extension>
</plugin>
